.flexContainer
  box-sizing: border-box
  display: flex
  position: relative

.rightSidebar
  box-shadow: $box-shadow-right-sidebar
  float: right
  max-width: $sidebar-width
  min-width: $sidebar-width
  z-index: $z-index-shadow
  +below($screen-medium)
    position: absolute
    right: 0
